@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap';
html, body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #23262A;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul, ol, li {
  text-decoration: none;
  list-style-type: none;
}

.button {
  font-size: 1rem;
  font-weight: 600;
  width: 11.75rem;
  height: 3.75rem;
  border: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.button::after, .button::before {
  content: "";
  display: block;
  position: absolute;
  width: 1.46875rem;
  height: 35%;
  border: 0.125rem solid;
  transition: all 0.6s;
}
.button::after {
  bottom: 0.5rem;
  right: 0.5rem;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #FFFFFF;
  border-right-color: #FFFFFF;
}
.button::before {
  top: 0.5rem;
  left: 0.5rem;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
}
.button:hover:after, .button:hover:before {
  width: 10.75rem;
  height: 2.75rem;
}

.button-white::after {
  border-bottom-color: #23262A;
  border-right-color: #23262A;
}
.button-white::before {
  border-top-color: #23262A;
  border-left-color: #23262A;
}

.bg-red {
  background-color: #FF7373;
  color: #FFFFFF;
}

.bg-dark {
  background-color: #23262A;
  color: #FFFFFF;
}

.bg-light {
  background-color: #FFFFFF;
  color: #23262A;
}

.btn-hover {
  width: 100%;
  height: 3.125rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.btn-hover:hover:after, .btn-hover:hover:before {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
}

.placeholder-bg {
  background-image: linear-gradient(to right, #E6E6E6, #FFFFFF);
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.063rem;
  padding: 2.5rem 0;
}
.header .nav-text {
  font-size: 1rem;
  font-weight: 500;
}
.header .nav-text a {
  color: #23262A;
}
.header .nav-text a:hover {
  color: #FF7373;
  text-decoration: underline;
}
.header .nav-text a ~ a {
  margin-left: 1.875rem;
}

.showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.showcase .sale {
  text-align: center;
}
.showcase .sale h1 {
  font-size: 4.063rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
  line-height: 5rem;
  letter-spacing: 0.25rem;
}
.showcase .sale p {
  font-size: 1.25em;
  font-weight: 400;
  padding: 0;
  margin: 2rem 0;
}

.banner {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.banner h2 {
  font-size: 2.813rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.banner .banner-big {
  display: flex;
  align-items: center;
  position: relative;
}
.banner .banner-big .clearance {
  position: absolute;
  padding-left: 3.125rem;
  margin-top: 4rem;
  width: 55%;
}
.banner .banner-small {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  height: 35rem;
  margin: 0;
}
.banner .banner-small .arrivals {
  position: absolute;
  margin-top: 9rem;
  padding-left: 3.125rem;
}

.featured {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  font-weight: 700;
}
.featured .container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 75rem;
}
.featured .container-cards .card-product {
  width: 16rem;
  height: 20rem;
  margin-bottom: 1.875rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.featured .container-cards .card-product .img-container {
  background-color: #F5F5F5;
  height: 13rem;
  position: relative;
  overflow: hidden;
  transition: background-color 250ms;
}
.featured .container-cards .card-product .img-container .quick-view {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 100%;
  transition: top 250ms;
}
.featured .container-cards .card-product .img-container .quick-menu {
  position: absolute;
  margin-top: 0.5rem;
  left: 100%;
  transition: left 250ms;
}
.featured .container-cards .card-product .img-container .quick-menu a {
  display: block;
}
.featured .container-cards .card-product .img-container .quick-menu a img {
  margin: -0.75rem;
}
.featured .container-cards .card-product .img-container:hover {
  background-color: rgba(35, 38, 42, 0.2039215686);
}
.featured .container-cards .card-product .img-container:hover .quick-view {
  top: 76%;
}
.featured .container-cards .card-product .img-container:hover .quick-menu {
  left: 80%;
}
.featured .container-cards .card-product .text {
  text-align: center;
}
.featured .container-cards .card-product .text h5 {
  color: #616365;
  font-size: 0.813rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 0.25rem 0;
  padding: 0;
}
.featured .container-cards .card-product .text h6 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 0.25rem 0;
  padding: 0;
}
.featured .container-cards .card-product .text p {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#featured {
  margin-bottom: 1.5rem;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
}

.map {
  height: 24.125rem;
  width: 100%;
}

.form-middle {
  display: flex;
  justify-content: center;
}
.form-middle .form {
  height: 22rem;
  width: 85%;
  margin-top: 3rem;
  margin-bottom: 6.25rem;
}
.form-middle .form .contact {
  margin-top: 1rem;
}
.form-middle .form .contact .name_email {
  display: flex;
  justify-content: space-between;
  height: 3.125rem;
}
.form-middle .form .contact .name_email div input {
  border: 1px solid #BEBEBE;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: #23262A;
  font-family: "Poppins";
  padding: 0.5rem;
  width: 33.5em;
}
.form-middle .form .contact .submitbutton {
  display: flex;
  margin-top: 2.125rem;
}
.form-middle .form .contact label {
  display: none;
}
.form-middle .form .contact .comment {
  margin-top: 1.875rem;
  height: 8.75rem;
}
.form-middle .form .contact .comment textarea {
  border: 1px solid #BEBEBE;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: #23262A;
  font-family: "Poppins";
  padding: 0.5rem;
  width: 100%;
}
.form-middle .form .contact .comment textarea {
  resize: none;
}
.form-middle .form h1 {
  text-align: start;
  font-size: 1.125rem;
  font-weight: 700;
}
.form-middle .form #userComment-error, .form-middle .form #userEmail-error, .form-middle .form #userName-error {
  color: #FF7373;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
}
.form-middle .form #userComment-success, .form-middle .form #userEmail-success, .form-middle .form #userName-success {
  color: #50ca45;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
}
.form-middle .form #userComment-error, .form-middle .form #userComment-success {
  margin-top: -0.5rem;
}

.breadcrumb {
  max-width: 69.375rem;
  margin-bottom: 2rem;
}
.breadcrumb ul {
  text-align: start;
  padding: 0;
}
.breadcrumb ul li {
  display: inline;
  font-size: 1rem;
  font-weight: 500;
}
.breadcrumb ul li a {
  color: #23262A;
  margin-right: 0.5rem;
}
.breadcrumb ul li a:hover {
  color: #FF7373;
  text-decoration: underline;
}

.banner-even {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  height: 25.188rem;
}
.banner-even .left {
  display: flex;
  position: relative;
  align-items: center;
}
.banner-even .left .text-button-left {
  position: absolute;
  justify-content: center;
  margin-left: 55%;
}
.banner-even .left .text-button-left h1 {
  font-size: 2.813rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.banner-even .right {
  display: flex;
  position: relative;
  align-items: center;
}
.banner-even .right .text-button-right {
  position: absolute;
  margin-left: 7%;
}
.banner-even .right .text-button-right h1 {
  font-size: 2.813rem;
  font-weight: 700;
  color: #23262A;
  margin-bottom: 1rem;
}

.speciality {
  display: flex;
  justify-content: center;
  align-items: center;
}
.speciality .container-speciality {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  height: 25rem;
  background-color: #F5F5F5;
}
.speciality .container-speciality .container-headings {
  display: flex;
  justify-content: center;
  align-items: center;
}
.speciality .container-speciality .container-headings h1 {
  display: flex;
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
.speciality .container-speciality .card-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5.25rem;
}
.speciality .container-speciality .card-container .card-speciality {
  display: flex;
  width: 30rem;
  height: 15rem;
}
.speciality .container-speciality .card-container .card-speciality .white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 50%;
  background-color: #FFFFFF;
  padding: 2rem;
}
.speciality .container-speciality .card-container .card-speciality .white h3 {
  font-size: 1.25em;
  font-weight: 600;
}
.speciality .container-speciality .card-container .card-speciality .white a {
  font-size: 1rem;
  font-weight: 600;
  color: #23262A;
  text-decoration: underline;
}
.speciality .container-speciality .card-container .card-speciality .grey {
  background-color: #BEBEBE;
  width: 50%;
}

.container-flashsale-left {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 3rem;
  margin-left: 4.75rem;
}
.container-flashsale-left .flashsale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 41.5rem;
  height: 41.5rem;
  background-color: #BEBEBE;
  gap: 1rem;
  color: #FFFFFF;
}
.container-flashsale-left .flashsale h1 {
  font-size: 2.813rem;
  font-weight: 700;
}

.container-flashsale-right {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 3rem;
  margin-left: 4.75rem;
}
.container-flashsale-right .flashsale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 41.5rem;
  height: 41.5rem;
  background-color: #BEBEBE;
  gap: 1rem;
  color: #FFFFFF;
}
.container-flashsale-right .flashsale h1 {
  font-size: 2.813rem;
  font-weight: 700;
}

.container-banner-flashsale {
  width: 100%;
  height: 20rem;
  background-color: #616365;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.container-banner-flashsale h1 {
  font-size: 2.813rem;
  font-weight: 700;
}
.container-banner-flashsale p {
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 2rem;
}

.container-products-category-ranking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
}
.container-products-category-ranking .latest, .container-products-category-ranking .best, .container-products-category-ranking .reacted {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-products-category-ranking .latest .card-product, .container-products-category-ranking .best .card-product, .container-products-category-ranking .reacted .card-product {
  display: flex;
  flex-direction: row;
  width: 20rem;
  height: 8.25rem;
  margin-bottom: 1.875rem;
}
.container-products-category-ranking .latest .card-product .img-container, .container-products-category-ranking .best .card-product .img-container, .container-products-category-ranking .reacted .card-product .img-container {
  background-color: #F5F5F5;
  height: 8.25rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: background-color 250ms;
}
.container-products-category-ranking .latest .card-product .img-container .quick-view, .container-products-category-ranking .best .card-product .img-container .quick-view, .container-products-category-ranking .reacted .card-product .img-container .quick-view {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 100%;
  transition: top 250ms;
}
.container-products-category-ranking .latest .card-product .img-container .quick-menu, .container-products-category-ranking .best .card-product .img-container .quick-menu, .container-products-category-ranking .reacted .card-product .img-container .quick-menu {
  display: flex;
  position: absolute;
  margin-top: 0.5rem;
  right: 100%;
  transition: right 250ms;
}
.container-products-category-ranking .latest .card-product .img-container .quick-menu a, .container-products-category-ranking .best .card-product .img-container .quick-menu a, .container-products-category-ranking .reacted .card-product .img-container .quick-menu a {
  display: block;
}
.container-products-category-ranking .latest .card-product .img-container .quick-menu a img, .container-products-category-ranking .best .card-product .img-container .quick-menu a img, .container-products-category-ranking .reacted .card-product .img-container .quick-menu a img {
  margin: -0.75rem;
}
.container-products-category-ranking .latest .card-product .img-container:hover, .container-products-category-ranking .best .card-product .img-container:hover, .container-products-category-ranking .reacted .card-product .img-container:hover {
  background-color: rgba(35, 38, 42, 0.2039215686);
}
.container-products-category-ranking .latest .card-product .img-container:hover .quick-view, .container-products-category-ranking .best .card-product .img-container:hover .quick-view, .container-products-category-ranking .reacted .card-product .img-container:hover .quick-view {
  top: 62%;
}
.container-products-category-ranking .latest .card-product .img-container:hover .quick-menu, .container-products-category-ranking .best .card-product .img-container:hover .quick-menu, .container-products-category-ranking .reacted .card-product .img-container:hover .quick-menu {
  right: 16%;
}
.container-products-category-ranking .latest .card-product .text, .container-products-category-ranking .best .card-product .text, .container-products-category-ranking .reacted .card-product .text {
  text-align: left;
  margin-left: 1rem;
}
.container-products-category-ranking .latest .card-product .text h5, .container-products-category-ranking .best .card-product .text h5, .container-products-category-ranking .reacted .card-product .text h5 {
  color: #616365;
  font-size: 0.813rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 0.25rem 0;
  padding: 0;
}
.container-products-category-ranking .latest .card-product .text h6, .container-products-category-ranking .best .card-product .text h6, .container-products-category-ranking .reacted .card-product .text h6 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 0.25rem 0;
  padding: 0;
}
.container-products-category-ranking .latest .card-product .text p, .container-products-category-ranking .best .card-product .text p, .container-products-category-ranking .reacted .card-product .text p {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.container-products-category-ranking h1 {
  font-size: 1.25em;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */