@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap';
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #23262A;
  margin: auto;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul, ol {
  text-decoration: none;
}

.container {
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
  font-size: 1rem;
  font-weight: 600;
  width: 11.75rem;
  height: 3.75rem;
  border: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.button::after, .button::before {
  content: "";
  display: block;
  position: absolute;
  width: 1.46875rem;
  height: 35%;
  border: 0.125rem solid;
  transition: all 0.6s;
}
.button::after {
  bottom: 0.5rem;
  right: 0.5rem;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #FFFFFF;
  border-right-color: #FFFFFF;
}
.button::before {
  top: 0.5rem;
  left: 0.5rem;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
}
.button:hover:after, .button:hover:before {
  width: 10.75rem;
  height: 2.75rem;
}

.bg-red {
  background-color: #FF7373;
  color: #FFFFFF;
}

.bg-dark {
  background-color: #23262A;
  color: #FFFFFF;
}

.bg-light {
  background-color: #FFFFFF;
  color: #23262A;
}

.btn-hover {
  width: 100%;
  height: 3.125rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.btn-hover:hover:after, .btn-hover:hover:before {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
}

.placeholder-bg {
  background-image: linear-gradient(to right, #E6E6E6, #FFFFFF);
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.063rem;
  padding: 2.5rem 0;
}
.header .nav-text {
  font-size: 1rem;
  font-weight: 500;
}
.header .nav-text a {
  color: #23262A;
}
.header .nav-text a:hover {
  color: #FF7373;
}
.header .nav-text a ~ a {
  margin-left: 1.875rem;
}

.showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .sale {
  text-align: center;
}
.showcase .sale h1 {
  font-size: 4.063rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
  line-height: 5rem;
  letter-spacing: 0.25rem;
}
.showcase .sale p {
  font-size: 1.25em;
  font-weight: 400;
  padding: 0;
  margin: 2rem 0;
}

.banner {
  display: flex;
  height: 35rem;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.banner h2 {
  font-size: 2.813rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.banner .banner-big {
  display: flex;
  align-items: center;
  position: relative;
}
.banner .banner-big .clearance {
  position: absolute;
  display: block;
  max-width: 32.625rem;
  padding-left: 3.125rem;
}
.banner .banner-small {
  display: flex;
  align-items: center;
  position: relative;
}
.banner .banner-small .arrivals {
  position: absolute;
  margin-top: 5rem;
  padding-left: 3.125rem;
}

.featured {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  font-weight: 700;
}
.featured h3 {
  margin-bottom: 1.5rem;
}
.featured .container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 75rem;
}
.featured .container-cards .card {
  width: 16rem;
  height: 20rem;
  margin-bottom: 1.875rem;
  margin-right: 1.875rem;
}
.featured .container-cards .card .img-container {
  background-color: #F5F5F5;
  height: 13rem;
  position: relative;
  overflow: hidden;
  transition: background-color 250ms;
}
.featured .container-cards .card .img-container .quick-view {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 100%;
  transition: top 250ms;
}
.featured .container-cards .card .img-container .quick-menu {
  position: absolute;
  margin-top: 0.5rem;
  left: 100%;
  transition: left 250ms;
}
.featured .container-cards .card .img-container .quick-menu a {
  display: block;
}
.featured .container-cards .card .img-container .quick-menu a img {
  margin: -0.75rem;
}
.featured .container-cards .card .img-container:hover {
  background-color: rgba(35, 38, 42, 0.2039215686);
}
.featured .container-cards .card .img-container:hover .quick-view {
  top: 76%;
}
.featured .container-cards .card .img-container:hover .quick-menu {
  left: 80%;
}
.featured .container-cards .card .text h5 {
  color: #616365;
  font-size: 0.813rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 0.25rem 0;
  padding: 0;
}
.featured .container-cards .card .text h6 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 0.25rem 0;
  padding: 0;
}
.featured .container-cards .card .text p {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=main.css.map */