// COLORS
$color-grey-dark: #616365;
$color-grey: #BEBEBE;
$color-grey-light: #F5F5F5;
$color-white: #FFFFFF;
$color-black: #23262A;
$color-theme: #FF7373;


// FONTS
$font-poppins: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-14: 0.875rem;
$font-size-16: 1.00rem;
$font-size-18: 1.125rem;
$font-size-24: 1.5rem;
$font-size-36: 2.25rem;
$font-size-60: 3.75rem;
