.form{
    height: 22rem;
    max-width: 69.375rem;
    margin-top: 3rem;
    h1{
    text-align: start;
    }
    input{
        border: 1px solid $color-grey-light;
        height: 3.125rem;
    }
    #userNameInput{
        max-width: 33.625rem;
        width: 100%;
    }
    #userEmailInput{
        max-width: 33.625rem;
        width: 100%;
    }
}