*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body{
    font-family: $font-poppins;
    font-size: $font-size-16;
    font-weight: $font-weight-regular;
    color: $color-black;
    margin: auto;
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul, ol, li{
    text-decoration: none;
    list-style-type: none;
}

.container{
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}