html, body{
    font-family: $font-poppins;
    font-size: $font-size-16;
    font-weight: $font-weight-regular;
    color: $color-black;
}

a{
    text-decoration: none;
}

ul, ol{
    text-decoration: none;
}